body{
    

}
#banner{
    width: 100%;
}

.principal{
    background-color: #cccccc;
    padding: 30px;

}

.titulo-principal {
    padding-left: 20PX;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
    
}
#missao{
    font-size: 20px
}

em strong{
    color: red;
}

.item {
    font-style: italic;
}

.beneficios {
    background-color: white;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
}
.imagembeneficios {
    width:50%;
}